<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<style>
    h5 {
        text-align: center;
        width: 100%; margin-left: auto; margin-right: auto; margin-top: 10%;
    }

    div {
        text-align: center;
        width: 25%; margin-left: auto; margin-right: auto; margin-top: 10%;
    }
</style>
<body>
<div >
    <h5 class="card-title">Sorry, we can't find this page.</h5>
    <a href="/shop" class="btn btn-primary stretched-link">Let's go home</a>
</div>
</body>
</html>